html {
  height: 100%;
}

body {
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100%;
  }

h1 {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 50px;
}
.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.header {
  margin: auto;
  text-align: center;
}
.articles {
  overflow: auto;
  margin: auto;
  margin-top: 15px;
  width: 60%;
  height: 700px;
  padding: 20px 12px;
  background-color: #FFFFFF;
  border: 1px solid #303030;
}

.article-title {
  cursor: pointer;
}
textarea {
  clear: both;
  padding: 10px;
  margin: 0px 15px;
  resize: none;
  width: 568px;
}
.modal-footer {
  border: 0px;
}
.note-delete {
  float:right;
}

.list-group-item {
  width: 568px;
  height: 45px;
  margin: auto;
  margin-top: 15px;
}

.btn {
  padding: 3px 6px;
  display: inline;
  margin: auto;
}

#scrape-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}